@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Open Sans */
  @font-face {
    font-family: "Open Sans";
    src: url("../fonts/Open_Sans/OpenSans-Variable.ttf") format("truetype");
    font-weight: 400;
  }

  @font-face {
    font-family: "Open Sans";
    src: url("../fonts/Open_Sans/OpenSans-Variable.ttf") format("truetype");
    font-weight: 700;
  }

  @font-face {
    font-family: "Open Sans";
    src: url("../fonts/Open_Sans/OpenSans-Italic-Variable.ttf")
      format("truetype");
    font-style: italic;
    font-weight: 400;
  }

  @font-face {
    font-family: "Open Sans";
    src: url("../fonts/Open_Sans/OpenSans-Italic-Variable.ttf")
      format("truetype");
    font-style: italic;
    font-weight: 700;
  }

  /* Noto Sans */
  @font-face {
    font-family: "Noto Sans";
    src: url("../fonts/Noto_Sans/NotoSans-Regular") format("truetype");
    font-weight: 400;
  }

  @font-face {
    font-family: "Noto Sans";
    src: url("../fonts/Noto_Sans/NotoSans-Bold") format("truetype");
    font-weight: 700;
  }

  @font-face {
    font-family: "Noto Sans";
    src: url("../fonts/Noto_Sans/NotoSans-Italic") format("truetype");
    font-style: italic;
    font-weight: 400;
  }

  @font-face {
    font-family: "Noto Sans";
    src: url("../fonts/Noto_Sans/NotoSans-BoldItalic") format("truetype");
    font-style: italic;
    font-weight: 700;
  }

  /* Poppins */
  @font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins/Poppins-Regular") format("truetype");
    font-weight: 400;
  }

  @font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins/Poppins-Bold") format("truetype");
    font-weight: 700;
  }

  @font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins/Poppins-Italic") format("truetype");
    font-style: italic;
    font-weight: 400;
  }

  @font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins/Poppins-BoldItalic") format("truetype");
    font-style: italic;
    font-weight: 700;
  }

  /* Playfair Display */
  @font-face {
    font-family: "Playfair Display";
    src: url("../fonts/Playfair_Display/PlayfairDisplay-VariableFont.ttf")
      format("truetype");
    font-weight: 400;
  }

  @font-face {
    font-family: "Playfair Display";
    src: url("../fonts/Playfair_Display/PlayfairDisplay-VariableFont.ttf")
      format("truetype");
    font-weight: 700;
  }

  @font-face {
    font-family: "Playfair Display";
    src: url("../fonts/Playfair_Display/PlayfairDisplay-Italic-VariableFont.ttf")
      format("truetype");
    font-style: italic;
    font-weight: 400;
  }

  @font-face {
    font-family: "Playfair Display";
    src: url("../fonts/Playfair_Display/PlayfairDisplay-Italic-VariableFont.ttf")
      format("truetype");
    font-style: italic;
    font-weight: 700;
  }

  /* Element setup */
  a {
    @apply inline-block;
  }

  section {
    @apply pb-11;
  }

  section h1 {
    @apply pb-10 heading leading-tight text-4xl;
  }

  section h2 {
    @apply pb-6 heading text-3xl;
  }
}

@layer utilities {
  .hocus-state {
    @apply bg-slate-100 outline-none;
  }

  .text-underline {
    @apply relative before:absolute before:-z-10 before:w-full before:h-1/5 before:left-0 before:top-3/4 before:bg-slate-300 inline-block;
  }
}

@layer components {
  .heading {
    @apply font-heading font-bold;
  }

  .paragraph-dot {
    @apply relative before:absolute before:w-[6px] before:h-[6px] before:rounded-full before:bg-slate-400;
  }

  .pd-lc {
    @apply before:top-2/4 before:-translate-y-2/4  before:-left-4;
  }

  .pd-lt {
    @apply indent-5 before:left-0 before:top-[0.5em];
  }

  .disable-link {
    @apply pointer-events-none cursor-default;
  }
}
